<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
	<title>New Blog App</title>
</head>
<body>

<div class="container">

	<div class="nav-row">
		<div class="row">
		
			<div class="col-md-2">
		
	
	<div>
		<h1>
			<% if current_user %>
				<a href=<%= "/user/#{session[:user_id]}" %>>quick<span>Note</span></a>
		</h1>
			<% end %>

			<% if current_user == nil %>
				<h1>
					<a href="/">quick<span>Note</span></a>
				</h1>
			<% end %>

	</div>

		</div>

		<div class="col-md-10">
			<div class="navigation">
			<div class="nav navbar-right">

				<!-- create button -->
				<% if current_user == nil %>

				<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Create an Account!</button>

				<% end %>

				<!-- log in button -->

				<% if current_user == nil %>
				<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal1">Have an account? Log In!</button>
				<% end %>

				<!-- if logged in, show these buttons. User page/ update / logout / newpost  -->
			<% if current_user %>

				<button type ="button" class="btn btn-info btn-md">
					<a href=<%= "/user/#{session[:user_id]}" %>>Hello, <%= current_user.username %></a>
				</button>

				<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal2">New Note</button>

				<button type="button" class="btn btn-info btn-md">
					<a href=<%= "/user/#{session[:user_id]}/update" %>>Update your account</a>
				</button>

				<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#logout">Log out</button>

					
				
				<% end %>

			</div>
			</div>

		</div>
	</div>
</div>



	<!-- if you're not logged in, show this heading -->
	



	<!-- if you are logged in, show this link -->







 





<!-- yield views -->
<div class="container">
		<div class="row">

		
	<div class="col-md-12">
		<div class="content">
<%= yield %>

		</div>
	</div>


</div>

</div>
</div>










<!-- Create User Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Create User Content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create an account!</h4>
      </div>
      <div class="modal-body">
        <p> <%= erb(:new_user, :layout => false) %></p>
      </div>

    </div>

  </div>
</div>



<!-- Log In Modal! -->

<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Log In Modal Content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Log in to your account!</h4>
      </div>
      <div class="modal-body">
        <p> <%= erb(:signin, :layout => false) %></p>
      </div>
    </div>

  </div>
</div>

<!-- Post Modal -->


<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Post Modal Content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Write a new note!</h4>
      </div>
      <div class="modal-body">
        <p> <%= erb(:post, :layout => false) %></p>
      </div>
    </div>

  </div>
</div>


<!-- log out modal -->
<div id="logout" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- log out content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Logout</h4>
      </div>
      <div class="modal-body">
        <p> <%= erb(:logout, :layout => false) %></p>
      </div>
    </div>

  </div>
</div>




</div>
</body>
</html>
